{% extends 'base.html' %}


{% block content %}
    detail page
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.id %}">Delete</a>
        <a href="{% url 'home:post_update' post.id %}">E dit</a>
    {% endif %}
    <br>
    <p><a hrtef="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> -- {{ post.created_at|date:"Y" }}</p>
    <br><br><br>

    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
{% endblock  %}